body {
background-color: #b20000;
  color: #000000;
  text-align: center;
  font-family: 'Courgette', cursive;
  font-weight: 700px
}

div {
  margin: 200 0px;
}

h1 {
  text-align: center;
}

ul {
  width: 200px;
  margin: -20px auto;
}

.bigfont {
  font-size: 4rem;
}

#id {
  font-size: 7rem;
}

p {
  padding: 30px 400px 20px 400px;
}

h2 {
  font-size: 2rem;
}

.imgsize {
  height: 25%;
  width: 25%;
}

.imgfloatleft {
    float: left;
}

.imgfloatright {
    float: right;
}

@media (min-width: 576px) {
  div p {
    padding: 5rem;
  }

  ul {
    font-size: 3rem;
    width: 0px
    margin-left: 15rem;
  }
}

@media (min-width: 768px) {
  div p {
    padding: 2rem;
    font-size: 2rem;
  }
  h3 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  ul{
    font-size: 3rem;
    width: 0px
    margin-left: 14rem;
  }
}

@media (min-width: 992px) {
  p {
    padding: 30px 400px 20px 400px;
    width: 800px;
    margin-left: 280px;
    text-align: center;
  }
  
  h2 {
    font-size: 2rem;
  }

  ul{
    font-size: 2rem;
  }
}